@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    outline        : none !important;
    border         : none !important;
    box-shadow     : none !important;
    text-decoration: none !important;
    list-style     : none !important;
}

/* *SCROLLBAR */
html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .4rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #33075c;
    border-radius   : 5rem;
}

body {
    font-family     : 'Lora', serif;
    background-color: #f0f0ac;
    overflow-x      : hidden;
}

/**HEADER*/

header {
    position: relative;
    width   : 100%;
    height  : 100vh;
}

.nav-bar-top {
    width           : 100%;
    height          : 16vh;
    background-color: #f7f7f5;
    padding         : 26px;
}

.para-text {
    color      : #252525;
    font-size  : 1rem;
    font-weight: 500;
    margin     : 0 4px;
}

.para-text i {
    color    : #33075c;
    font-size: 1.2rem;
}

.span-text {
    padding: 0 6px;
}

.social-icons i {
    color    : #33075c;
    font-size: 1.2rem;
    margin   : 0 7px;
    padding  : 0 5px;
    cursor   : pointer;
}

.social-icons i:hover {
    color: #074866;
}

.navbar-container {
    position        : absolute;
    width           : 93%;
    top             : 70px;
    left            : 52px;
    background-color: #fff;
    padding         : 16px 38px;
    z-index         : 1;
}

.heading-logo {
    color      : #33075c;
    font-family: 'Playfair Display', serif;
}

.heading-logo span {
    color: #074866;
}

.nav-item .nav-link,
.dropdown-item {
    color      : #33075c;
    font-size  : 1.2rem;
    font-weight: 500;
}

.nav-item .nav-link:hover,
.dropdown-item:hover {
    color          : #074866;
    text-decoration: underline;
}

nav .bi-list {
    font-size: 2rem;
    cursor   : pointer;
    color    : #33075c;
}

nav .bi-list:hover {
    color: #074866;
}

/**INICIO*/

.home-section {
    width : 100%;
    height: 84%;
}

.home-content {
    width              : 100%;
    height             : 84vh;
    background-position: right;
    background-size    : cover;
    z-index            : -1;
}

.img-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/slider/img-1.jpg);
}

.img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/slider/img-2.jpg);
}

.heading-lg-home {
    font-size     : 2.5rem;
    letter-spacing: 1px;
    text-align    : center;
}

.btn-home {
    background-color: #33075c;
    transition      : .2s ease-in;
}

.btn-home:hover {
    background-color: #074866;
}

.icon-scroll {
    color           : #fff;
    font-size       : 2rem;
    background-color: #0e0d0d;
}

.selection {
    position        : absolute;
    width           : 93%;
    height          : 20vh;
    bottom          : -80px;
    left            : 52px;
    background-color: #fff;
    padding         : 0 26px;
}

.selection-container {
    width : 100%;
    height: 100%;
}

.boxes {
    padding: 6px 22px;
    width  : 200px;
    margin : 0 10px;
    border : 2px solid #33075c !important;
}

.select-btn {
    background-color: #33075c;
    transition      : .2s ease-in;
}

.select-btn:hover {
    background-color: #074866;
}

/**AGENCIA*/

.about {
    width     : 100%;
    height    : auto;
    margin-top: 120px;
}

.heading-about {
    position: relative;
}

.heading-about::before {
    content         : '';
    position        : absolute;
    width           : 140px;
    height          : 3px;
    background-color: #33075c;
    left            : 134px;
    top             : 30px;
}

.heading-about::after {
    content         : '';
    position        : absolute;
    width           : 140px;
    height          : 3px;
    background-color: #33075c;
    right           : 134px;
    top             : 30px;
}

.para-about {
    max-width: 1000px;
}

.about-img {
    width : 100%;
    height: 330px;
}

.image-content {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.heading-content {
    color  : #33075c;
    padding: 10px 20px;
}

/**SERVICIOS*/

.services {
    width  : 100%;
    height : auto;
    padding: 24px 0;
}

.heading-sm {
    color: #33075c;
}

.content-services {
    width        : 100%;
    height       : auto;
    padding      : 20px 14px;
    margin-bottom: 20px;
    border-radius: 15px;
    transition   : .2s ease-in;
}

.content-services:hover {
    transform : translateY(-10px);
    box-shadow: 2px 2px 14px #074866 !important;
    cursor    : pointer;
}

.img-services {
    width : 100px;
    height: 100px;
}

.heading-tour {
    margin: 7px 0;
    color : #074866;
}

.para-tour {
    font-size: .8rem;
    margin   : 8px 0;
}

.btn-services {
    padding         : 10px 26px;
    margin          : 10px 0;
    background-color: #33075c;
    transition      : .2s ease-in;
}

.btn-services:hover {
    background-color: #074866;
}

/**PAQUETES*/

.packages {
    width  : 100%;
    height : auto;
    padding: 10px 0;
}

.content-packages {
    width        : 100%;
    min-height   : 450px;
    transition   : .2s ease-in;
    border-radius: 15px;
}

.content-packages:hover {
    transform : translateY(-10px);
    box-shadow: 2px 2px 14px #074866 !important;
    cursor    : pointer;
}

.img-package {
    width : 100%;
    height: 240px;
}

.image-package {
    width        : 100%;
    height       : 100%;
    border-radius: 15px 15px 0 0;
}

.content-packages-container {
    padding: 10px;
}

.detail-text {
    font-size: .8rem;
}

.icon-detail {
    color    : #074866;
    padding  : 0 10px;
    font-size: .8rem;
}

.heading-content-package {
    font-size: 1.1rem;
    margin   : 8px 0;
}

.stars {
    color    : #074866;
    font-size: .8rem;
    padding  : 0 8px;
}

hr {
    border: #074866 2px solid !important;
}

/**CONTACTO*/

.first-col {
    min-height   : 550px;
    box-shadow   : rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position     : relative;
    width        : 550px;
    left         : 155px;
    top          : 171px;
    border-radius: 20px;
}

.img-fluid {
    border-radius: 20px;
}

.row-last {
    width   : 50% !important;
    position: relative !important;
    left    : 450px;
    top     : 60px;
}

.row-last iframe {
    border-radius: 20px;
    width        : 100%;
    margin-bottom: 100px !important;
}

.btn-primary {
    background-color: #074866;
    border          : #074866;
    width           : 48%;
}

.btn-primary:hover {
    background-color: black !important;
}

.form-control {
    height       : 52px;
    background   : #fff;
    font-size    : 14px;
    border-radius: 2px;
    border       : 1px solid #074866 !important;
}

.form-control[type=text]:focus {
    border: 2px solid #555 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin            : 0;
}

textarea {
    resize: none;
}

/* *modal */
.modal-content {
    background: #f0f0ac;
}

.thank-you-pop .okay {
    width           : 50%;
    height          : 56px;
    margin-bottom   : 20px;
    color           : #fff;
    border-radius   : 8px;
    background-color: #074866;
    font-size       : 16px;
    transition      : .4s ease-in;
}

.thank-you-pop .okay:hover {
    background-color: #041c27;
    color           : #fff;
}

.thank-you-pop {
    width  : 100%;
    padding: 10px;
}

.thank-you-pop h2 {
    margin   : 20px 0;
    font-size: 28px;
}

.thank-you-pop p {
    margin-bottom: 20px;
    font-size    : 18px;
}

/**FOOTER*/

footer {
    background-color: #33075c;
    padding         : 85px 0;
}

footer .developed {
    width        : 230px;
    margin       : auto;
    padding      : 0;
    border       : #fff 1px solid !important;
    border-radius: 10px;
}

.hr-footer {
    border: #a75feb 2px solid !important;
}

.single-box .logo {
    width        : 230px;
    border-radius: 10px;
}

.single-box p {
    line-height: 1.9;
}

.single-box h3 {
    font-size  : 20px;
    font-weight: 600;
}

.single-box h2 {
    font-size  : 25px;
    font-weight: 700;
}

.single-box ul {
    padding: 0;
}

.single-box a {
    color      : #fff !important;
    line-height: 2;
}

.input-group input {
    border-radius: 10px;
}

.single-box a:hover {
    color: #ecec81 !important;
}

#basic-addon2 {
    background: #a75feb;
    color     : #fff;
    cursor    : pointer;
}

#basic-addon2:hover {
    background: #ecec81;
    color     : #0e0d0d;
}

.socials i {
    font-size   : 20px;
    color       : #fff;
    margin-right: 10px;
    cursor      : pointer;
}

.socials i:hover {
    color: #ebeb2b;
}

/**MEDIA QUERIES*/

@media screen and (max-width: 1500px) {
    .boxes {
        width: 230px;
    }

    .navbar-container {
        top: 65px;
    }

    .packages {
        padding: 16px 0;
    }
}

@media screen and (max-width: 980px) {
    .heading-about::before {
        left: 44px;
        top : 25px;
    }

    .heading-about::after {
        right: 44px;
        top  : 25px;
    }

    .nav-bar-top {
        height: 8vh;
    }

    .navbar-container {
        top  : 0;
        left : 0;
        width: 100%;
    }

    .nav-item .nav-link,
    .dropdown-item {
        text-align: center;
    }

    .selection {
        position: static;
        width   : 400px;
        height  : 70vh;
        margin  : 84px auto;
    }

    .selection-container {
        flex-direction: column;
        gap           : 45px;
    }

    .boxes {
        width: 100%;
    }

    .select-btn {
        text-align: center;
        width     : 100%;
    }

    .about {
        margin-bottom: 60px;
    }

    .para-about {
        max-width: 760px;
    }

    .about-img {
        width : 100%;
        height: 300px;
    }

    .heading-content {
        margin: 16px 0;
    }

    .para-content-about {
        font-size: 18px;
        max-width: 680px;
    }

}

@media screen and (max-width: 768px) {

    .heading-lg-home {
        font-size: 1.8rem;
    }

    .selection {
        width   : 300px;
        margin  : 50px auto;
    }

    .heading-about::before {
        display: none;
    }

    .heading-about::after {
        display: none;
    }

    .first-col {
        position: initial;
        left    : 0 !important;
    }

    .sec-col {
        order: 1 !important;
    }

    .row-last {
        left  : 0 !important;
        width : 100% !important;
        height: 500px !important;
        top   : 0 !important;
    }

    .row-last iframe {
        height: 400px;
    }

    .single-box {
        margin-bottom: 50px;
    }

    .para-about {
        max-width: 460px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .single-box {
        margin-bottom: 50px;
    }
}